.photo-grid {
  display: grid;
  grid-gap: 8px;
  margin-bottom: 102px;
}

@media screen and (min-width: 375px) {
  .photo-grid {
    grid-gap: 15px;
  }
}

@media screen and (min-width: 768px) {
  .photo-grid {
     grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px;
  }
}

@media screen and (min-width: 1024px) {
  .photo-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 14px;
  }
}

@media screen and (min-width: 1280px) {
  .photo-grid {
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
  }
}
