.footer__container {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 850px) {
  .footer__container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
